/* General styles for the Home component */

#merchantform{
  width: 55%;
}

.firstdiv{
  width: 100%;
  text-align: center;
}

.video{
  text-align: center;
  border-radius: 5px;
  margin: auto;
  width: 80%;
}

.introdiv{
  background: linear-gradient(to bottom, #fce5e5, #fef2f2);
  text-align: center;
}

introdiv{
  display: flex;
}

.videoandbtn{
  display: flex;
}

.videoandbtn img{
width: 18%;
}