.navbar {
  width: 60%;
  margin: auto;
  margin-top: -100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #edf4ff;
  box-sizing: border-box;
}

.logodiv {
  text-align: center;
}

.logodiv p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.navbar img {
  width: 40px;
  height: 40px;
}

hr {
  display: none;
  margin-top: -20px;
  width: 90%;
}


/* Mobile Styles */
@media (max-width: 1000px) {

  .navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #edf4ff;
    box-sizing: border-box;
  }
  
  .logodiv {
    text-align: center;
  }
  
  .logodiv p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .navbar img {
    width: 40px;
    height: 40px;
  }
  
  hr {
    display: block;
    margin-top: -20px;
    width: 90%;
  }
  

}