.topdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #f9f1f1, #f6e3e3, #fde0e0, #feecec, #faf4f4);
  position: relative;
  overflow: hidden;
  color: rgb(253, 125, 125);
  font-weight: 500;
}

.topdiv img {
  width: 40%;;
}

.topdivtext{
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

.topdivtext p{
  cursor: pointer;
}
